@import "normalize.styl"
@import "fonts.styl"

animacion(parametro)
	-webkit-animation parametro
	-moz-animation parametro
	-o-animation parametro
	-ms-animation parametro
	animation parametro

gris_oscuro = #333
gris_claro = #818181
rojo = #c51860
gris_claro_mas = #f4f4f4
body
	font-family 'Varela Round', sans-serif
	font-size 16px

a
	text-decoration none

figure 
	margin 0

img
	vertical-align top
ul
	margin 0
	padding 0
//Botones
.playlist
		display none
		width 22em
		padding 0 2em
		border-left 1px solid gris_claro

		.list
			list-style none
			.item
				padding 1em 0
			.action
				font-size .8em	
.logo
		display none
		overflow hidden
		padding 1.3em 0

	.isotipo
		width 122px

	.avatar
		display inline-block
	.user
		display inline-block
		height 38px
		overflow height
	.username
		color gris_claro
		line-height: 38px
		vertical-align: top
		&:after
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 9px solid gris_claro
			content ""
			margin-left .5em
			position relative
.button-menu
	color gris_oscuro
	font-size 1.5em
	left .5em
	margin-top -10px
	position absolute
	top 50%

.menu
	display none
.header
	height 3.5em
	/*a 
		display none*/
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.progress
	margin-top 10px
	position relative
	.min
	.max
		font-size .8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.total
		background gris_claro
		border-radius 5px
		height 5px
		margin 0 auto
		width 75%
	.state
		background rojo
		border-radius 5px
		height 5px
		position relative
		width 30%
		animacion(1s state infinite) 
	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px
		animacion(1s circle infinite) 

.round
	border-radius 50%
	overflow hidden
.left
	float left
.right 
	float right
.center-block
	margin 0 auto
.center-text
	text-align center
	
.actions
	background rgba(#000,.3)
	bottom 0
	left 0
	position absolute
	right 0

.text-right
	text-align right
.action
	color #fff
	font-size 1.2em
	margin-right .5em
	&:last-child
		margin-right 0
	&.gray
		color gris_oscuro
.wrap
	width 1000px
.padding
	padding 1em;

.padding-tb
	padding 1em 0

.relative
	position relative

.border-bottom
	border-bottom 1px solid gris_claro

.container 
	font-size 0
	padding 1.4rem
	text-align center

.name
	color gris_oscuro

.autor
	color gris_claro

.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	vertical-align top
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

//playing
.playing
	&.small
		width 20em
		margin 0 auto
.input
	border 1px solid gris_oscuro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 3em
.burcar-icon
	position absolute
	top .8em
	left .8em
	color gris_oscuro
.close-icon
	position absolute
	top .3em
	right .5em
	color gris_oscuro
	font-size 1.5em

@keyframes state
	0%
		background red
	100%	
		background blue
@keyframes circle
	0%
		transform scale(1)
	100%
		transform scale(2)
@media screen and (min-width:480px)
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
	.playing
		&.medium 
			width auto

@media screen and (min-width:1000px)
	body
		background gris_claro_mas
	.button-menu
		display none
	.playing
		&.large
			margin 0 auto
			margin-top 2em
			width 62.5em
			overflow hidden
	

	.description
		display none
			
	.music
		width 32.5em
		float left

	.header
		height auto
		background white
		.title
			display none
	
	.menu
		display block
		overflow hidden
		background gris_claro_mas
		.item
			float left
			list-style none
			a
				color gris_oscuro
				text-transform uppercase
				padding 1em;
				display block
				border-top 3px solid transparent
				&:hover
					border-top 3px solid gris_claro
	.logo
	.playlist
		display block
			
	
	

